@very-light-gray: #EFEFEF;
@light-gray: #BFBFBF;
@gray: #8F8F8F;
@dark-gray: #5F5F5F;
@very-dark-gray: #2F2F2F;

@cyan: #66FFFF;
@blue: #089BD8;
@purple: #FF00CC;
@green: #66FF66;
@red: #FF6666;
@orange: #FFFF66;
@light-orange: #FFFFAA;

@theme-color-one: #089BD8;
@theme-color-two: #0875A4;
@theme-color-three: #065C81;
@theme-color-four: #04415B;
@theme-color-five: #032F42;
@theme-color-six: #021822;
